body {
  background-color: #8A092F;
}

/* INTRO SECTION */
#intro {
  text-align: center;
}

.slogan-image {
  margin-top: 50px;
}

.location-text {
  color: #d0b461;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.location-district {
  margin-top: 0;
  color: #d0b461;
  font-size: 1.2rem;
  display:inline-block;
    /*-webkit-transform:scale(2,1);*/
  transform: scaleX(2);
  transform-origin: 50% 0;
  font-family: 'Markazi Text', serif;
}
