body {
  background-color: #8A092F;
}

/* INTRO SECTION */
#intro {
  text-align: center;
  margin-bottom: 100px;
}

.slogan-image {
  margin-top: 10px;
}

.location-text {
  color: #d0b461;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.location-district {
  margin-top: 0;
  color: #d0b461;
  font-size: 2rem;
  display:inline-block;
    /*-webkit-transform:scale(2,1);*/
  transform: scaleX(2);
  transform-origin: 50% 0;
  font-family: 'Markazi Text', serif;
}

.location-numbers {
  margin-top: 0;
  margin-bottom: 0;
  color: #d0b461;
  font-size: 2rem;
}


/* APPETIZERS SECTION */
#appetizers {
  text-align: center;
  margin-bottom: 50px;
}

.row-menu {
  font-family: 'Almarai', sans-serif;
}

.col-price {
  color: #fff;
}

.col-description {
  text-align: right;
  color: #fff;
}

.menu-heading {
  margin-bottom: 20px;
}

.menu-item {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

/* TAWAGEN SECTION */
#tawagen {
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}


/* MANAKEESH SECTION */
#manakeesh {
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}

/* DRINKS SECTION */
#drinks {
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}

/* PIZZA SECTION */
#pizza {
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}

.pizza-item {
  margin-bottom: 5px;
}

.pizza-price {
  margin-bottom: 45px;
}
