body {
  background-color: #8A092F;
}

/* SIDE NAVBAR SECTION */
.side-navbar-icon {
  margin-left: 15px;
  margin-top: 15px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #BFADA8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 3rem;
  color: #818181;
  display: block;
  font-family: 'Markazi Text', serif;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* INTRO SECTION */
#intro {
  text-align: center;
  margin-bottom: 100px;
}

.slogan-image {
  margin-top: 10px;
}

.location-text {
  color: #d0b461;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.location-district {
  margin-top: 0;
  color: #d0b461;
  font-size: 2rem;
  display:inline-block;
    /*-webkit-transform:scale(2,1);*/
  transform: scaleX(2);
  transform-origin: 50% 0;
  font-family: 'Markazi Text', serif;
}

.location-numbers {
  margin-top: 0;
  margin-bottom: 0;
  color: #d0b461;
  font-size: 2rem;
}


/* APPETIZERS SECTION */
#appetizers {
  text-align: center;
  margin-bottom: 50px;
}

.row-menu {
  font-family: 'Almarai', sans-serif;
}

.col-price {
  color: #fff;
}

.col-description {
  text-align: right;
  color: #fff;
}

.menu-heading {
  margin-bottom: 20px;
}

.menu-item {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

/* TAWAGEN SECTION */
#tawagen {
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}


/* MANAKEESH SECTION */
#manakeesh {
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}

.manakeesh-image {
  position: absolute;
  width: 600px;
  height: 600px;
  transform: translate(-175%, 30%);
}

.col-manakeesh-price {
  text-align: right;
}

/* DRINKS SECTION */
#drinks {
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}

/* PIZZA SECTION */
#pizza {
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}

.pizza-item {
  margin-bottom: 5px;
}

.pizza-price {
  margin-bottom: 45px;
}
